<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=org.apache.maven.archetypes"/>
        <listEntry value="archetypeArtifactId=maven-archetype-quickstart"/>
        <listEntry value="archetypeVersion=1.4"/>
        <listEntry value="groupId=org.tys.jspiders"/>
        <listEntry value="artifactId=srpingcore-sample-project"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=org.tys.jspiders.scsp"/>
        <listEntry value="outputDirectory=M:\Test Yentra\TE_TRAINING\ADVANCE_JAVA"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\sivas\AppData\Local\Temp\m2e-archetypeGenerator8371493495676093407"/>
</launchConfiguration>
